<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addStudentServlet</display-name>
    <servlet-name>addStudentServlet</servlet-name>
    <servlet-class>cms.addStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudentServlet</servlet-name>
    <url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteStudentServlet</display-name>
    <servlet-name>deleteStudentServlet</servlet-name>
    <servlet-class>cms.deleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStudentServlet</servlet-name>
    <url-pattern>/deleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addEmployeeServlet</display-name>
    <servlet-name>addEmployeeServlet</servlet-name>
    <servlet-class>cms.addEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEmployeeServlet</servlet-name>
    <url-pattern>/addEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteEmployeeServlet</display-name>
    <servlet-name>deleteEmployeeServlet</servlet-name>
    <servlet-class>cms.deleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteEmployeeServlet</servlet-name>
    <url-pattern>/deleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addBookServlet</display-name>
    <servlet-name>addBookServlet</servlet-name>
    <servlet-class>lms.addBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBookServlet</servlet-name>
    <url-pattern>/addBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBookServlet</display-name>
    <servlet-name>deleteBookServlet</servlet-name>
    <servlet-class>lms.deleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBookServlet</servlet-name>
    <url-pattern>/deleteBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>issueBookServlet</display-name>
    <servlet-name>issueBookServlet</servlet-name>
    <servlet-class>lms.issueBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>issueBookServlet</servlet-name>
    <url-pattern>/issueBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>submitBookServlet</display-name>
    <servlet-name>submitBookServlet</servlet-name>
    <servlet-class>lms.submitBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitBookServlet</servlet-name>
    <url-pattern>/submitBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifyBookServlet</display-name>
    <servlet-name>modifyBookServlet</servlet-name>
    <servlet-class>lms.modifyBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyBookServlet</servlet-name>
    <url-pattern>/modifyBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifyStudentServlet</display-name>
    <servlet-name>modifyStudentServlet</servlet-name>
    <servlet-class>cms.modifyStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyStudentServlet</servlet-name>
    <url-pattern>/modifyStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifyEmployeeServlet</display-name>
    <servlet-name>modifyEmployeeServlet</servlet-name>
    <servlet-class>cms.modifyEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyEmployeeServlet</servlet-name>
    <url-pattern>/modifyEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginSrevlet</display-name>
    <servlet-name>loginSrevlet</servlet-name>
    <servlet-class>cms.loginSrevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginSrevlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>cms.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeSelfPasswordServlet</display-name>
    <servlet-name>changeSelfPasswordServlet</servlet-name>
    <servlet-class>cms.changeSelfPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeSelfPasswordServlet</servlet-name>
    <url-pattern>/changeSelfPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>resetPasswordServlet</display-name>
    <servlet-name>resetPasswordServlet</servlet-name>
    <servlet-class>cms.resetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resetPasswordServlet</servlet-name>
    <url-pattern>/resetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentPasswordChangeServlet</display-name>
    <servlet-name>studentPasswordChangeServlet</servlet-name>
    <servlet-class>cms.studentPasswordChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentPasswordChangeServlet</servlet-name>
    <url-pattern>/studentPasswordChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>msgPublishServlet</display-name>
    <servlet-name>msgPublishServlet</servlet-name>
    <servlet-class>cms.msgPublishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>msgPublishServlet</servlet-name>
    <url-pattern>/msgPublish</url-pattern>
  </servlet-mapping>
</web-app>